.jumbotron 
    h2 Desarrollo de <br>contenidos
    .brand-line-primary
    .row.justify-content-center.mt-5
        .col-12.col-sm-10
            .card.wow.flipInX(data-wow-delay=".4s")
                .card-body
                        ul.list-group.list-group-flush.list.my-n3.nav-temas
                            +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                            +navTemaItem('1', 'Direccionamiento IP', 'main.html#page/direccionamiento-ip/')
                            +navTemaItem('2', 'Verificación dispositivos', 'main.html#page/verificación-dispositivos/')