.jumbotron
    .row
        .col-lg-3.col-md-4.align-items-center
            div
                h2  Resultados de <br>aprendizaje
                .brand-line-primary
        .col-lg-9.col-md-8
            p.parrafo.d-block.my-5.align-items-center 220501104 – 1 - Planificar la implementación de la arquitectura de la red según el diseño establecido.




