.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Adaptador de red:
            | Dispositivo que añade funcionalidad de red a su equipo.
        
        p
            strong.mr-2 Ancho de banda:
            | Capacidad de transmisión de un dispositivo o red determinado
        p 
            strong.mr-2 Bit (dígito binario)
            | La unidad más pequeña de información de una máquina.
        p 
            strong.mr-2 Conmutador:
            | Dispositivo que es el punto central de conexión de equipos y otros dispositivos de una red, de forma que los datos puedan transmitirse a velocidad de transmisión completa.
        p
            strong.mr-2 DHCP (Protocolo de configuración dinámica de host):
            | Protocolo que permite a un dispositivo de una red, conocido como servidor DHCP, asigna direcciones IP temporales a otros dispositivos de red, normalmente equipos.
        
        p
            strong.mr-2 Dirección IP:
            | Dirección que se utiliza para identificar un equipo o dispositivo en una red
        p 
            strong.mr-2 Enrutador:
            | Dispositivo de red que conecta redes múltiples, tales como una red local e Internet.
        p 
            strong.mr-2 Red:
            | Serie de equipos o dispositivos conectados con el fin de compartir datos, almacenamiento y la transmisión entre usuarios.
        p 
            strong.mr-2 TCP (Transport Control Protocol):
            | Un protocolo de red para la transmisión de datos que requiere la confirmación del destinatario de los datos enviados.
        p 
            strong.mr-2 Topología:
            | Distribución física de una red.