.container
  .jumbotron.bg-white 
    .hI Introducción 
    hr.line
    .row.mt-5
      .col-xs-12.col-md-12.col-lg-7.p-10  
        p.parrafos Las redes de computaciones cada vez se vuelven más complicadas en la actualidad debido a la llegada de nuevas tecnologías como el 
          b 5G
          b-none llevando al mundo a adquirir una cultura de conectividad de casi todo y aún para las cuestiones más simples es necesario contar con los conocimientos básicos
          b  sobre direcciones IP
          b-none , esquemas de direccionamiento y clases de direcciones. Ahora no solamente tenemos computadores conectados entre sí, sino además un ecosistema de dispositivos cableados e inalámbricos, como equipos móviles, teléfonos inteligentes, tablets, cámaras de vigilancia, radios, lavadoras, neveras, etc. 
        p.parrafos Todos estos dispositivos necesitan su 
          b dirección IP 
          b-none para conectarse entre sí. Una 
          b dirección IP 
          b-none es un número que identifica de manera lógica y jerárquica a un dispositivo dentro de la red. Se va a tratar acerca de los diferentes tipos de direccionamiento IP como son públicas, privadas, reservadas o especiales ya que son las que permiten una comunicación en un grupo de trabajo o en la red.  
      .col-xs-12.col-md-12.col-lg-5
        .img-container.d-block.my-auto  
          img.card-img-center(src="assets/images/pages/ilustraciones/img2.svg", alt='...').d-block.m-auto.my-auto.
      .img-container  
          img.card-img-top(src="assets/images/pages/ilustraciones/img3.svg", alt='...').d-block.m-auto.mt-0
      
        
    div.i-general.mt-5
        div.div-gradient
          div.c-card
            img.card-img-top(src="assets/images/pages/ilustraciones/img4.svg", alt='...').d-block.m-auto.mt-0.img-ci
            .h1i.text-center.mt-3 CLASE A
            p.parrafos.mt-3.text-center     
              b Corresponden a redes grandes con muchas máquinas.
        
        div.div-gradient
          div.c-card
            img.card-img-top(src="assets/images/pages/ilustraciones/img5.svg", alt='...').d-block.m-auto.mt-0.img-ci
            .h1i.text-center.mt-3 CLASE B
            p.parrafos.mt-3.text-center 
              b Sirven para redes de tamaño intermedio. 
        
        div.div-gradient
          div.c-card
            img.card-img-top(src="assets/images/pages/ilustraciones/img6.svg", alt='...').d-block.m-auto.mt-0.img-ci
            .h1i.text-center.mt-3 CLASE C
            p.parrafos.mt-3.text-center 
              b Tienen sólo 8 bits para la dirección local y 21 bits para red. 
        
        div.div-gradient
          div.c-card
            img.card-img-top(src="assets/images/pages/ilustraciones/img7.svg", alt='...').d-block.m-auto.mt-0.img-ci
            .h1i.text-center.mt-3 CLASE D
            p.parrafos.mt-3.text-center 
              b Se usan con fines de multidifusión.  