.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td https://www.ecured.cu/
                    td Sitio web
                    td 
                        a(href="https://www.ecured.cu/Redes_Informáticas", target="https://www.ecured.cu/Redes_Informáticas") <span class="fa fa-cloud" aria-hidden="true"></span> Visitar
                        

                tr
                    td Pérez, E. H. (2003). Tecnologías y redes de transmisión de datos. Editorial Limusa.

                    td Libro
                    td 
                        a(href="media/documentos/complementarios/MC_AA2_Fundamentos_Programacion_Java.pdf", target="_blank")                                     