.tarjeta.tarjeta--banner
  .row.justify-content-center.align-items-center 
    .col-auto 
      .tarjeta__icono
        img(src="assets/images/pages/tema_3/sample.svg", alt="")
    .col-12.col-lg 
      .tarjeta__cuerpo
        p.mb-0 Este proceso es necesario realizarlo sólo una vez, ya que en esta tanto los hosts A y C como el router anotan las parejas de direcciones MAC-IP en unas tablas especiales, denominadas tablas de enrutamiento, que usarán en envíos de datos posteriores para enrutar los paquetes directamente. Resumiendo, los routers son los principales responsables de la correcta comunicación entre máquinas de diferentes redes, encargándose en este proceso de enrutar correctamente los paquetes de datos.
        la correcta comunicación entre máquinas de diferentes redes, encargándose en este proceso de enrutar correctamente los paquetes de datos.