.container
    .jumbotron.bg-white.mt-2
        .h1c 2. Tecnología y conceptos básicos de networking
        hr.line
        .container
            .h2c 2.1 Conceptos básicos y componentes de una red
            .h2c.mt-3 2.1.1 Ancho de banda
            p.parrafo.mt-3 Cuando los datos se envían por una red de computadoras, se dividen en bloques pequeños denominados “paquetes”. Cada paquete contiene información de la dirección de origen y destino. El paquete, junto con la información de dirección física, se denomina “trama”. También contiene información que describe cómo volver a unir los paquetes en el destino. El ancho de banda determina la cantidad de paquetes que pueden transmitirse en un lapso fijo.

            .row   
                .col-xs-12.col-sm-12.col-md-5.col-lg-7
                    img.card-img-top.img29(src="assets/images/pages/ilustraciones/img29.svg", alt='...').img-fluid
                .col-xs-12.col-sm-12.col-md-7.col-lg-5   
                    p.parrafo.mt-3 El ancho de banda se mide en bits por segundo y, por lo general, se indica con alguna de las siguientes unidades de medida:
                    .col-xs-12.col-sm-12.col-md-12
                        div.container-badges.d-block.m-auto
                            
                            div.div-badge.shadow-sm
                                div.badge-blue.py-auto
                                    .h-badge.mx-auto a.
                                div.badge-white
                                    p.p-badge Bits por segundo
                            div.div-badge.shadow-sm
                                div.badge-blue.py-auto
                                    .h-badge.mx-auto b.
                                div.badge-white
                                    p.p-badge Kilobits por segundo
                            div.div-badge.shadow-sm
                                div.badge-blue.py-auto
                                    .h-badge.mx-auto c.
                                div.badge-white
                                    p.p-badge Megabits por segundo
                            div.div-badge.shadow-sm
                                div.badge-blue.py-auto
                                    .h-badge.mx-auto d.
                                div.badge-white
                                    p.p-badge Gigabits por segundo 
            .jumbotron.bg1.mt-5
                .row 
                    .col-xs-12.col-md-6.col-sm-12.col-lg-10.my-5   
                        p.parrafo 
                            b Nota:
                            b-none 1 byte equivale a 8 bits y se abrevia con una letra B mayúscula, y 1 MB/s equivale a, aproximadamente, 8 Mb/s. Los datos que se transmiten por la red se pueden transmitir mediante uno de tres modos: simplex, half-duplex o full-duplex.
                    .col-xs-12.col-md-6.col-sm-12.col-lg-2.my-2.d-none.d-sm-block
                        .img-container
                            img.card-img-top(src="assets/images/pages/ilustraciones/img3.svg", alt='...').img-fluid
            
            .h2c 2.1.2 Direccionamiento de equipos de red
            .row 
                .col-xs-12.col-md-8.col-sm-12.col-lg-7.d-none.d-sm-block
                    .img-container
                        img.card-img-top(src="assets/images/pages/ilustraciones/img31.svg", alt='...').img-fluid
                .col-xs-12.col-md-4.col-sm-12.col-lg-5.my-auto
                    ul.ul-bullet.my-auto 
                        li Direccionamiento IP
                        li Ipv4
                        li Ipv6
                        li Direccionamiento estático
                        li Direccionamiento DHCP
                        li ICMP




