.container
    .jumbotron.bg-white.mt-2
        .h1c 3. Diseño e implementación de la red LAN
        hr.line
        .row.mt-5
            .col-lg-6.col-md-12.col-sm-12
                .jumbotron
                    .img-container  
                        img.card-img-top(src="assets/images/pages/ilustraciones/img32.svg", alt='...').img-fluid
            .col-lg-6.col-md-12.col-sm-12 
                .h1cc 3.1 Análisis de requerimientos de redes
                p.parrafo.mt-3 El análisis de redes se enfoca en los requerimientos de los usuarios, de sus aplicaciones y dispositivos. también se enfoca en entender el comportamiento de la red bajo diferentes escenarios. El análisis de redes también define, determina y describe las relaciones existentes entre el conjunto de usuarios de la red, las aplicaciones y dispositivos de red. Durante el proceso de análisis se encontrará el camino para tomar las correctas decisiones en las etapas de arquitectura, diseño e implementación de la red.
                ul.ul-bullet 
                    li Análisis de redes 
                    li Análisis de los requerimientos de usuario 
                    li Especificación de los requerimientos 
                    li Desarrollo de un diseño lógico 
                    li Desarrollo de un diseño fisico 
                    li Prueba, optimización y documentación del diseño 
        .row.mt-5 
            .col-lg-6.col-md-12.col-sm-12 
                .h1cc.text-right 3.2 Cableado estructurado
                p.parrafo.mt-3.text-right Un sistema de Cableado estructurado o Structured Cabling System (SCS) es un conjunto de productos de cableado, conectores, y equipos de comunicación que integran los servicios de voz, data y video, en conjunto con sistema de administración dentro de una edificación, tales como los sistemas de alarmas, seguridad de acceso y sistemas de energía, etc).
                ul.ul-bullet.float-right 
                    li Estandares vigentes 
                    li Diseño y documentación básica de redes. 
                    li Seguridad física 
                    li Planificación del cableado estructurado.
                    li Backbone 
                    li Cableado horizontal 
                    li Especificacion del centro cableado (SITE)
                    li Organismos certificadores
            .col-lg-6.col-md-12.col-sm-12 
                .jumbotron
                    .img-container  
                        img.card-img-top(src="assets/images/pages/ilustraciones/img33.svg", alt='...').img-fluid
        .row.mt-5
            .col-lg-6.col-md-12.col-sm-12.col-xs-12     .order-md-2.order-sm-2.order-lg-1     
                .jumbotron
                    .img-container   
                        img.card-img-top(src="assets/images/pages/ilustraciones/img34.svg", alt='...').img-fluid
            .col-lg-6.col-md-12.col-sm-12.col-xs-12.order-md-1.order-sm-1.order-lg-2
                .h1cc 3.3 Configuración y pruebas de la red
                p.parrafo.mt-3 Así como las computadoras no pueden trabajar sin un sistema operativo lo mismo pasa con un router o un switch. El sistema operativo internetwork (IOS) de cisco es el software en dispositivos Cisco. IOS (Internetwork Operating System) El Cisco IOS proporciona los siguientes servicios:
                ul.ul-bullet.float-center 
                    li Funciones básicas de enrutamiento y conmutación
                    li Análisis de los requerimientos de usuario 
                    li Escalabilidad de la red “Command line interface (CLI)
                p.parrafo.mt-3 El archivo en IOS tiene un tamaño en varios megabytes y se encuentra en una memoria semipermanente llamada flash. Esta memoria provee almacenamiento no volátil, también permite que se actualice IOS a versiones más nuevas o que se incorporen nuevas funciones.
                
